In [37]:
import pandas as pd

df= pd.read_csv('addresses.csv')
df = df.astype(str)
df

,Electoral Roll,Surname,Title,Forename1,Forename2,Forename3,Official Name,Scholar/Degree(s),Year,Address Line1,Address Line2,Address Line3,Address Line4,Address Line5
0,2100001,AALEN,nan,NIELS,HENTY,ANDREASEN,Niels Henty Andreasen Aalen,"B.A., M.A.",1985,20A Belmont Road,Chesham,Bucks HP5 2EL,United Kingdom,nan
1,2100002,ABAUTRET-DALY,Ms.,AINE,nan,nan,Aine Abautret-Daly,"M.SC., PH.D.",2009,Flat 7,21 Castlewood Avenue,Rathmines,Dublin 6,nan
2,2100003,ABAYAWICKREMA,Mrs,MAEDHBH,nan,nan,Maedhbh Abayawickrema,"B.A., HDIP EDUCATION",1995,Tearmann,Rogerstown Lane,Lusk,Co.Dublin,nan
3,2100004,ABAYAWICKREMA,nan,RONAN,VANARAJ,nan,Ronan Vanaraj Abayawickrema,B.A.,1995,10 Willows Drive,Clonsilla,Dublin 15,nan,nan
4,2100005,ABBASI,nan,QAMAR,nan,nan,Qamar Abbasi,M.SC. (MGMT.),2005,70 Fernleigh Drive,Castleknock,Dublin 15,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,2165495,WALSH,Ms.,CATHERINE,MARY,nan,Catherine Mary Walsh,M.SC.,1994,49 Wainsfort,Rochestown Road,CORK,nan,nan
65495,2165496,WALSH,Ms.,CEANNA,nan,nan,Ceanna Walsh,B.A.,2005,"Unit 12, Block 11",Clarion Quay,Excise Walk,"IFSC, North Wall",Dublin 1
65496,2165497,WALSH,Ms.,CECILIA,BRIGID,nan,Cecilia Brigid Walsh,"M.ST., PGDIP MGT IN ED",2004,Ballyvelig,Campile,New Ross,Co Wexford,nan
65497,2165498,WALSH,Miss,CHRISTINE,HELEN,nan,Christine Helen Walsh,"B.A., B.A.I.",1986,10 SHANGANAGH TCE,BALLYBRACK,CO DUBLIN,nan,nan
65498,2165499,WALSH,Miss,CHRISTINE,MAIREAD,nan,Christine Mairead Walsh,"B.A., PGDIP STATS",2001,75 St. Helens Road,Booterstown,Co. Dublin,nan,nan

In [66]:
first_liners= df[df['Address Line1'].str.contains('Canada|Toronto|Ontario|Montreal|Montréal|Quebec|Québec|Vancouver|British Columbia|Ottawa|Alberta|British Columbia|Manitoba|New Brunswick|Newfoundland|Labrador|Nova Scotia|Ontario|Prince Edward Island|Quebec|Saskatchewan')]
second_liners= df[df['Address Line2'].str.contains('Canada|Toronto|Ontario|Montreal|Montréal|Quebec|Québec|Vancouver|British Columbia|Ottawa|Alberta|British Columbia|Manitoba|New Brunswick|Newfoundland|Labrador|Nova Scotia|Ontario|Prince Edward Island|Quebec|Saskatchewan')]
third_liners= df[df['Address Line3'].str.contains('Canada|Toronto|Ontario|Montreal|Montréal|Quebec|Québec|Vancouver|British Columbia|Ottawa|Alberta|British Columbia|Manitoba|New Brunswick|Newfoundland|Labrador|Nova Scotia|Ontario|Prince Edward Island|Quebec|Saskatchewan')]
forth_liners= df[df['Address Line4'].str.contains('Canada|Toronto|Ontario|Montreal|Montréal|Quebec|Québec|Vancouver|British Columbia|Ottawa|Alberta|British Columbia|Manitoba|New Brunswick|Newfoundland|Labrador|Nova Scotia|Ontario|Prince Edward Island|Quebec|Saskatchewan')]
fifth_liners= df[df['Address Line5'].str.contains('Canada|Toronto|Ontario|Montreal|Montréal|Quebec|Québec|Vancouver|British Columbia|Ottawa|Alberta|British Columbia|Manitoba|New Brunswick|Newfoundland|Labrador|Nova Scotia|Ontario|Prince Edward Island|Quebec|Saskatchewan')]

all_liners= first_liners.append([second_liners, third_liners, forth_liners, fifth_liners])

In [67]:
all_liners

,Electoral Roll,Surname,Title,Forename1,Forename2,Forename3,Official Name,Scholar/Degree(s),Year,Address Line1,Address Line2,Address Line3,Address Line4,Address Line5
18909,2118910,FEELEY,nan,OISÍN,nan,nan,Oisín Feeley,B.A.,1993,"598 Rue de Montreal, App. 1,",Shrebrooke,Quebec J1H 1E8,nan,Canada
42273,2142274,MCLEAN,nan,PATRICK,MARTIN,nan,Patrick Martin McLean,"B.B.S., M.A.",1983,Ericsson Research Canada,8400 Decarie Blvd,Town of Mount Royal,"Montreal,Quebec H4P 2N2",CANADA.
62885,2162886,STRAHAN,Miss,SIOBHÁN,CLAIRE,nan,Siobhán Claire Strahan,B.A.,2000,13 Ontario Terrace,Portobello,DUBLIN 6,nan,nan
973,2100974,BALL TIGHE,nan,DAVID,JOHN,nan,David John Ball Tighe,"B.A., B.A.I.",1962,4580 Avenue Wilson,Montreal,Quebec H4A 2V4,CANADA.,nan
1480,2101481,BARTON,Miss,CLARISSA,MARIA,nan,Clarissa Maria Barton,"B.A., M.B.B.CH.B.A.",1977,265 Poplar Plains Road # 103,Toronto,Ontario,M4V 2N9,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56295,2156296,POWELL,Miss,ELINOR,DOROTHEA,UNIACKE,Elinor Dorothea Uniacke Powell,"B.A., M.B.B.CH.B.A., M.D.",1948,"Carlton House,",2080 Oak Bay Avenue,Victoria V8R 6W2,British Colombia,Canada
58097,2158098,RICHARDS,Miss,WENDY,MARGARET,nan,Wendy Margaret Richards,"B.B.S., PH.D.",1985,2039 Ashgrove Court,London,Ontario N6K 4S2,nan,Canada
60028,2160029,SAUNDERS,nan,SYDNEY,DOUGLAS,nan,Sydney Douglas Saunders,"B.A., B.A.I.",1968,"#217, 221 Robinson Street",Oakville,Ontario L6J- 7N9,nan,Canada
61659,2161660,SLOWEY,nan,GABRIEL,JOSEPH,nan,Gabriel Joseph Slowey,"B.A., M.A., M.B.B.CH.B.A.",1968,Box 577,3 Mary Street,Chesterville K0C 1H0,Ontario,Canada
62136,2162137,SMYTH,nan,WALTER,RONALD,nan,Walter Ronald Smyth,"B.A., M.A.",1968,1813 Lulie Street,Victoria,"British Columbia, V8R 5W9",nan,Canada